<ion-header>
  <ion-toolbar color="primary">
    <ion-title> My Todo List </ion-title>
    <ion-button slot="end" fill="clear" routerLink="/add-page">
      <ion-icon
        name="add-outline"
        slot="icon-only"
        style="color: white"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-item>
    <ion-label>Choose your Task</ion-label>
    <ion-select interface="popover" (ionChange)="filterTasks($event)">
      <ion-select-option value="completed">Completed</ion-select-option>
      <ion-select-option value="canceled">Canceled</ion-select-option>
      <ion-select-option value="in progress">In Progress</ion-select-option>
      <ion-select-option value="all">All</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let task of tasks; let i=index">
      <ion-label>{{task.title}} </ion-label>
      <ion-button slot="end" fill="clear" (click)="showTasks(task)">
        <ion-icon name="pricetag-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
